{
  "extends": "eslint:recommended",
  "env": {
    "es2022": true,
    "node": true,
    "jest": true,
    "mocha": true,
    "commonjs": false,
    "es6": true
  },
  "globals": {
    "SELECT": true,
    "INSERT": true,
    "UPSERT": true,
    "UPDATE": true,
    "DELETE": true,
    "CREATE": true,
    "DROP": true,
    "CDL": true,
    "CQL": true,
    "CXL": true,
    "cds": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaVersion": 2022,
      "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "require-atomic-updates": "off"
  }
}
